/*//////////////// Général //////////////////////////////////////////////////*/
html{
    height: 100%;
}
*{
    margin: 0;
}

body{
    background-color: rgb(31, 40, 47);
    overflow-x: hidden;
    height: 100%;
    padding: 0;
    overflow-y: hidden;
}

/*////////////////// Nav ////////////////////////////////////////////////////*/

nav{
    width: 100%;
    height: 80px;
    background-color: rgba(26, 22, 246, 0.322);

}

nav ul{
    display: flex;
    float: right;
    list-style: none;
    position: fixed;
    top: 20px;
    right: 15px;
}

nav ul li{
    margin: 20px;
}

nav a{
    text-decoration: none;
    color:  rgb(197, 218, 245);
}

nav h3{
    margin: 20px 0 0 10px;
    position: fixed;
    top: 10px;
    left: 15px;
    text-transform: uppercase;
    color:  rgb(197, 218, 245);
    font-size: 50px;
    font-family: 'Zen Dots', cursive;
}


/*//////////////////Boutique /////////////////*/

#boutiquePage{
    width: 80%;
    margin: 40px auto;
    background-color: rgba(0, 0, 0, 0.5);
    border:2px rgba(255, 255, 255, 0.5) solid ;
    border-top: 2px rgba(255, 255, 255, 0.5) solid;
    border-left: 2px rgba(255, 255, 255, 0.5) solid;
    box-shadow: 20px 20px 5px rgba(0,0,0,0.5);
    border-radius: 20px;
    text-align: center;
    display: flex;
    color: rgb(197, 218, 245);
    backdrop-filter: blur(5px);
    height: 70%;
    overflow: hidden;
}

#boutiquePage h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30%;
}

#boutiquePage div{
    width: 33%;
    padding: 20px;
}

#boutiquePage ul{
    list-style: none;
    margin: 50px 0;
    transform: translateX(-20px);
}

#boutiquePage button{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.bordered{
    border-right: 3px solid rgb(197, 218, 245);
}

.avantageUnget{
    color: gray;
    text-decoration: line-through;
}


/*//////////////// Footer ///////////////////*/

footer{
    height: 20px;
    width: 100%;
    background-color: rgba(26, 22, 246, 0.322);
    margin-top: 20px;
    padding: 10px;
    display: flex;
    padding-left: 65%;
    position: fixed;
    bottom: 0;
}

footer h5{
    margin: 0px 10px;
    color:rgb(197, 218, 245);
}