/*//////////////// Général //////////////////////////////////////////////////*/
html{
    height: 100%;
}
*{
    margin: 0;
}

body{
    background-color: rgb(31, 40, 47);
    overflow-x: hidden;
    height: 100%;
    padding: 0;
    overflow-y: hidden;
}

/*////////////////// Nav ////////////////////////////////////////////////////*/

nav{
    width: 100%;
    height: 80px;
    background-color: rgba(26, 22, 246, 0.322);

}

nav ul{
    display: flex;
    float: right;
    list-style: none;
    position: fixed;
    top: 20px;
    right: 15px;
}

nav ul li{
    margin: 20px;
}

nav a{
    text-decoration: none;
    color:  rgb(197, 218, 245);
}

nav h3{
    margin: 20px 0 0 10px;
    position: fixed;
    top: 10px;
    left: 15px;
    text-transform: uppercase;
    color:  rgb(197, 218, 245);
    font-size: 50px;
    font-family: 'Zen Dots', cursive;
}


/*//////////////////Espace membre /////////////////*/

#IdMembre{
    background-color: rgb(197, 218, 245);
    width: 80%;
    margin: 40px auto;
    height: 550px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 20px 20px 5px rgba(0,0,0,0.5);
}

#container{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

#photoIdentite{
    border: 1px solid royalblue;
    background-image: url(Images/profil_vide.jpg);
    background-size: 45vh 45vh;
    width: 50vh;
    height: 50vh;
    margin: 20px 0 20px 10px;
}

#informationsIdentite{
    width: 80%;
    height: 50vh;
    margin: 20px 20px;
}

#barreHorizontale1{
    width: 100%;
    height: 60px;
    background-color: royalblue;
    border-radius: 20px 20px 0 0;
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Zen Dots', cursive;
}

#barreHorizontale2{
    width: 100% -10px;
    height: 80px;
    background-color: white;
    border-radius: 0 0 20px 20px;
    font-family: 'Zen Dots', cursive;
    font-size: 25px;
    padding: 10px;
}

#serigraphie{
    font-family: 'Zen Dots', cursive;
    font-size: 30vh;
    width: 50vh;
    height: 50vh;
    float: right;
    padding-right: 20px;
    color: white;
}

#informationsIdentite h2{
    font-family: 'Zen Dots', cursive;
    color: royalblue;
    margin-bottom: 10px;
    float: left;
}

#informationsIdentite p{
    margin-bottom: 10px;
    z-index: 1;
    float: left;
}

#containerInformation{
    display: flex;
    flex-direction: column;
    float: left;
}

/*//////////////// Footer ///////////////////*/

footer{
    height: 20px;
    width: 100%;
    background-color: rgba(26, 22, 246, 0.322);
    margin-top: 20px;
    padding: 10px;
    display: flex;
    padding-left: 65%;
    position: fixed;
    bottom: 0;
}

footer h5{
    margin: 0px 10px;
    color:rgb(197, 218, 245);
}