/*//////////////// Général //////////////////////////////////////////////////*/
html{
    height: 100%;
    width: 100%;
    flex-grow: 1;
}

*{
    margin: 0;
    scrollbar-color:  rgba(26, 22, 246, 0.322) rgb(31, 40, 47);
}

body{
    background-color: rgb(31, 40, 47);
    padding: 0;
    width: 100%;
    min-height: 100%;
    flex-grow: 1;
    text-align: center;
}
  
 

/*////////////////// Nav ////////////////////////////////////////////////////*/

nav{
    width: 600px;
    position: fixed;
    right: 0;
    z-index: 4;
}



nav ul{
    display: flex;
    list-style: none;
    background-color: rgba(31, 40, 47, 0.5);
    backdrop-filter: blur(5px);
    
}

nav ul li{
    margin: 20px;
    
}

nav a{
    text-decoration: none;
    color:  rgb(197, 218, 245);
    font-family: 'Zen Dots', cursive;
    font-size: 12px;
}

#formulaireConnexion{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    background: rgba(255, 255, 255, 0.8);
    padding-top: 50px;
    align-items: center;
    position: fixed;
    right: 0px;
    top: 60px;
    backdrop-filter: blur(5px);
    z-index: 1;
    nav-index: 1;
    border-radius: 0 0 0 20px;
    transition: 1s;
}

#formulaireConnexion .input1{
    position: fixed;
    top: 35%;
}

#formulaireConnexion .input2{
    position: fixed;
    top: 55%;
}
nav form .input1{
    color: rgb(120, 174, 245);
    width: 150px;
    border-radius: 20px;
    border: 3px solid rgb(120, 174, 245);
    padding: 5px 10px;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -75px;
    outline: none;
}

nav form .input2{
    color: rgb(120, 174, 245);
    width: 150px;
    border-radius: 20px;
    border: solid 3px rgb(120, 174, 245);
    padding: 5px 10px;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-left: -75px;
    outline: none;
}

nav .hidden{
    transform: translateX(600px);
    transition: 1s;
    opacity: 0;
}

.boutonEnregistrement{
    border: 3px solid rgb(120, 174, 245);
    background: transparent;
    color: rgb(120, 174, 245);
    font-family: 'Zen Dots', cursive;
}

#formulaireConnexion h2{
    text-transform: uppercase;
    color:  rgb(120, 174, 245);
    font-size: 50px;
    font-family: 'Zen Dots', cursive;
}



#formulaireConnexion p{
    position: fixed;
    bottom: 50px;
}

.boutonTemporaire{
    background-color: rgb(120, 174, 245);
    border-radius: 20px;
    border: none;
    color: rgb(197, 218, 245);
    position: fixed;
    top: 70%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    padding: 5px 10px;
    font-family: 'Zen Dots', cursive;
    transition: 1s;
}

.boutonTemporaire:hover {
    width: 400px;
    margin-left: -200px;
    transition: 1s;
}

#formulaireEnregistrement{
    width: 600px;
    height: 400px;
    background: rgba(255, 255, 255, 0.8);
    padding-top: 50px;
    align-items: center;
    position: fixed;
    right: 0px;
    top: 40px;
    backdrop-filter: blur(5px);
    z-index: 1;
    nav-index: 1;
    border-radius: 0 0 0 20px;
    transition: 1s;

}

#formulaireEnregistrement h2{
    text-transform: uppercase;
    color:  rgb(120, 174, 245);
    font-size: 50px;
    font-family: 'Zen Dots', cursive;
}



#formulaireEnregistrement p{
    position: fixed;
    bottom: 50px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
}

nav form .input3{
    color: rgb(120, 174, 245);
    width: 150px;
    border-radius: 20px;
    border: solid 3px rgb(120, 174, 245);
    padding: 5px 10px;
    position: fixed;
    top: 60%;
    left: 50%;
    margin-left: -75px;
    outline: none;
}


/*///////////////////// Home Page ///////////////////////////////////////////////*/

#homePage{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 20px;
    background-color: rgba(26, 22, 246, 0.322);
}

#leftSideBar{
    padding: 15% 0px 10% 20px;
}

#leftSideBar #iframeDiscord{
    height: 500px;
    box-shadow: 20px 20px 5px rgba(0,0,0,0.5);
}





#centerBar{
    text-align: center;
    padding: 80px 0 0 0;
}



#centerBar h1{
    text-transform: uppercase;
    color:  rgb(197, 218, 245);
    font-size: 150px;
    font-family: 'Zen Dots', cursive;
}

#centerBar h3{
    color:  rgb(197, 218, 245);
    font-size: 30px;
    margin-bottom: 50px;
}

#centerBar button{
    background-color: transparent;
    padding: 10px 20px;
    margin: 20px;
    border: solid rgb(197, 218, 245) 1px;
    color:  rgb(197, 218, 245);
    width: 30%;
    transition-duration: 800ms;
    border-radius: 10px;
    box-shadow: 20px 20px 5px rgba(0,0,0,0.5);
}

#centerBar button:hover{
    border: solid white 2px;
    background-color: rgb(197, 218, 245);
    color: rgb(26, 22, 246);
    box-shadow: none;
}



/*///////////////// Media ////////////////////*/

#media{
    width: 100%;
    height: 600px;
    margin: 80px auto;
    position: relative;
}

#media img{
    width: 70%;
    height: 600px;
    position: absolute;
    top: 0;
    left: 15%;
    z-index: 1;
}



#containerMedia2{
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    height: 600px;
    text-align: center;
    z-index: 2;
}

#container1{
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 600px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    text-align: center;
    z-index: 3;
}

#container3{
    position: absolute;
    top: 0;
    left: 85%;
    width: 15%;
    height: 600px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    text-align: center;
    z-index: 3;
}
#containerMedia2 h1{
    position: absolute;
    top: 20%;
    left: 20px;
    font-size: 50px;
    color: rgb(197, 218, 245);
    text-shadow: 1px 0 10px black;
    text-transform: uppercase;
    font-family: 'Zen Dots', cursive;
}

#containerMedia2 h3{
    position: absolute;
    top: 30%;
    left: 20px;
    font-size: 50px;
    color: rgb(197, 218, 245);
    text-shadow: 1px 0 10px black;
    font-family: 'Dancing Script', cursive;
}

/*//////////////// Mise a jour ///////////////*/

#miseAJour{
    margin: 40px auto;
    width: 80%;
    height: 600px;
    border-radius: 30px;
    padding: 0 0;
    display: flex;
}

.card{
    margin: 0 20px;
    width: 30%;
    height: 80%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    border:2px rgba(255, 255, 255, 0.5) solid ;
    border-top: 2px rgba(255, 255, 255, 0.5) solid;
    border-left: 2px rgba(255, 255, 255, 0.5) solid;
    box-shadow: 20px 20px 5px rgba(0,0,0,0.5);
    border-radius: 20px;
    text-align: center;
    padding-top: 100px;
    color: rgb(197, 218, 245);
    backdrop-filter: blur(5px);
    z-index: -1;
}

.card h2{
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: solid rgb(197, 218, 245) 3px ;

}

.card p{
    padding: 10px;
}



/*//////////////// Footer ///////////////////*/

footer{
    height: 40px;
    width: 100%;
    background-color: rgba(26, 22, 246, 0.322);
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0; left: 0; right: 0;
}

footer h5{
    margin: 0px 10px;
    color:rgb(197, 218, 245);
}


footer a{
    text-decoration: none;
    color:rgb(197, 218, 245);
}

/*////////////////////////////////// Smartphone ///////////////////////////////////*/

@media all and (max-width: 767px){
   /*//////////////// Général //////////////////////////////////////////////////*/
html{
    height: 100%;
    width: auto;
    flex-grow: 1;
}

*{
    margin: 0;
    scrollbar-color:  rgba(26, 22, 246, 0.322) rgb(31, 40, 47);
}

body{
    background-color: rgb(31, 40, 47);
    padding: 0;
    width: auto;
    min-height: 100%;
    flex-grow: 1;
    text-align: center;
}
  
 

/*////////////////// Nav ////////////////////////////////////////////////////*/

#nav{
    width: 100%;
    position: fixed;
    left: 0;
    top: none;
    bottom: 0;
    z-index: 4;
    transition: 1s;
}

.navHidden{
    transform: translateY(192px);
    transition: 1s;
}

.bar1Open{
    transform: translate(-10px, 10px) rotate(45deg); 
    transition: 1s;
}

.bar2Open{
    opacity: 0;
    transition: 1s;
}

.bar3Open{
    transform: translate(-10px , -10px) rotate(-45deg);
    transition: 1s;
}


nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: rgba(31, 40, 47, 0.5);
    backdrop-filter: blur(5px);
    padding: 0;
    
}

nav ul li{
    margin: 10px;
    
}

nav a{
    text-decoration: none;
    color:  rgb(197, 218, 245);
}

#formulaireConnexion{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    background: rgba(255, 255, 255, 0.8);
    padding-top: 50px;
    align-items: center;
    position: fixed;
    right: 0px;
    top: 0px;
    backdrop-filter: blur(5px);
    z-index: 1;
    nav-index: 1;
    border-radius: 0 0 0 20px;
    transition: 1s;
}

#formulaireConnexion .input1{
    position: fixed;
    top: 35%;
}

#formulaireConnexion .input2{
    position: fixed;
    top: 55%;
}
nav form .input1{
    color: rgb(120, 174, 245);
    width: 150px;
    border-radius: 20px;
    border: 3px solid rgb(120, 174, 245);
    padding: 5px 10px;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -75px;
    outline: none;
}

nav form .input2{
    color: rgb(120, 174, 245);
    width: 150px;
    border-radius: 20px;
    border: solid 3px rgb(120, 174, 245);
    padding: 5px 10px;
    position: fixed;
    top: 45%;
    left: 50%;
    margin-left: -75px;
    outline: none;
}

nav .hidden{
    transform: translateX(600px);
    transition: 1s;
    opacity: 0;
}

.boutonEnregistrement{
    border: 3px solid rgb(120, 174, 245);
    background: transparent;
    color: rgb(120, 174, 245);
    font-family: 'Zen Dots', cursive;
}

#formulaireConnexion h2{
    text-transform: uppercase;
    color:  rgb(120, 174, 245);
    font-size: 50px;
    font-family: 'Zen Dots', cursive;
}



#formulaireConnexion p{
    position: fixed;
    bottom: 50px;
}

.boutonTemporaire{
    background-color: rgb(120, 174, 245);
    border-radius: 20px;
    border: none;
    color: rgb(197, 218, 245);
    position: fixed;
    top: 70%;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    padding: 5px 10px;
    font-family: 'Zen Dots', cursive;
    transition: 1s;
}

.boutonTemporaire:hover {
    width: 400px;
    margin-left: -200px;
    transition: 1s;
}

#formulaireEnregistrement{
    width: 100%;
    height: 400px;
    background: rgba(255, 255, 255, 0.8);
    padding-top: 50px;
    align-items: center;
    position: fixed;
    right: 0px;
    top: 0px;
    backdrop-filter: blur(5px);
    z-index: 1;
    nav-index: 1;
    border-radius: 0 0 0 20px;
    transition: 1s;

}

#formulaireEnregistrement h2{
    text-transform: uppercase;
    color:  rgb(120, 174, 245);
    font-size: 50px;
    font-family: 'Zen Dots', cursive;
}



#formulaireEnregistrement p{
    position: fixed;
    bottom: 50px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
}

nav form .input3{
    color: rgb(120, 174, 245);
    width: 150px;
    border-radius: 20px;
    border: solid 3px rgb(120, 174, 245);
    padding: 5px 10px;
    position: fixed;
    top: 60%;
    left: 50%;
    margin-left: -75px;
    outline: none;
}

#navMobile{
    width: 60px ;
    height: 60px;
    position: relative;
    left: 50%;
    margin-left: -30px;
    
}

.bar{
    width: 50%;
    height: 5px;
    background-color: rgb(197, 218, 245);
    margin: 5px 0;
    margin-left: -7.5px;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transition: 1s;
}

/*///////////////////// Home Page ///////////////////////////////////////////////*/

#homePage{
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(26, 22, 246, 0.322);
    width: 100%;
}

#leftSideBar{
    padding: 10px 5px;
}

#leftSideBar #iframeDiscord{
    height: 500px;
    box-shadow: none;
    width: 100%;
}





#centerBar{
    text-align: center;
    padding: 80px 0 0 0;
}



#centerBar h1{
    text-transform: uppercase;
    color:  rgb(197, 218, 245);
    font-size: 70px;
    font-family: 'Zen Dots', cursive;
}

#centerBar h3{
    color:  rgb(197, 218, 245);
    font-size: 30px;
    margin-bottom: 50px;
}

#centerBar button{
    background-color: transparent;
    padding: 10px 20px;
    margin: 20px;
    border: solid rgb(197, 218, 245) 1px;
    color:  rgb(197, 218, 245);
    width: 30%;
    transition-duration: 800ms;
    border-radius: 10px;
    box-shadow: 20px 20px 5px rgba(0,0,0,0.5);
}

#centerBar button:hover{
    border: solid white 2px;
    background-color: rgb(197, 218, 245);
    color: rgb(26, 22, 246);
    box-shadow: none;
}



/*///////////////// Media ////////////////////*/

#media{
    width: 100%;
    height: 400px;
    margin: 80px auto;
    position: relative;
}

#media img{
    width: 70%;
    height: 400px;
    position: absolute;
    top: 0;
    left: 15%;
    z-index: 1;
}



#containerMedia2{
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    height: 400px;
    text-align: center;
    z-index: 2;
}

#container1{
    position: absolute;
    top: 0;
    left: 0;
    width: 15%;
    height: 400px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    text-align: center;
    z-index: 3;
}

#container3{
    position: absolute;
    top: 0;
    left: 85%;
    width: 15%;
    height: 400px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px);
    text-align: center;
    z-index: 3;
}
#containerMedia2 h1{
    position: absolute;
    top: 20%;
    left: 10px;
    font-size: 20px;
    color: rgb(197, 218, 245);
    text-shadow: 1px 0 10px black;
    text-transform: uppercase;
    font-family: 'Zen Dots', cursive;
}

#containerMedia2 h3{
    position: absolute;
    top: 55%;
    left: 25px;
    font-size: 25px;
    color: rgb(197, 218, 245);
    text-shadow: 1px 0 10px black;
    font-family: 'Dancing Script', cursive;
}

/*//////////////// Mise a jour ///////////////*/

#miseAJour{
    margin: 40px auto;
    width: 100%;
    height: 400px;
    border-radius: 30px;
    padding: 0 0;
    display: flex;
}

.card{
    margin: 0 20px;
    width: 30%;
    height: 300px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    border:2px rgba(255, 255, 255, 0.5) solid ;
    border-top: 2px rgba(255, 255, 255, 0.5) solid;
    border-left: 2px rgba(255, 255, 255, 0.5) solid;
    box-shadow: 20px 20px 5px rgba(0,0,0,0.5);
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    color: rgb(197, 218, 245);
    z-index: -1;
}

.card h2{
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: solid rgb(197, 218, 245) 3px ;

}

.card p{
    padding: 10px;
}



/*//////////////// Footer ///////////////////*/

footer{
    height: 60px;
    width: 100%;
    background-color: rgba(26, 22, 246, 0.322);
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 100px ; left: 0; right: 0;
}

footer h5{
    margin: 0px 10px;
    color:rgb(197, 218, 245);
}


footer a{
    text-decoration: none;
    color:rgb(197, 218, 245);
}

}



