/*//////////////// Général //////////////////////////////////////////////////*/

*{
    margin: 0;
    scrollbar-color:  rgba(26, 22, 246, 0.322) rgb(31, 40, 47);
}

body{
    background-color: rgb(31, 40, 47);
    overflow-x: hidden;
    height: 100vh;
    padding: 0;
}

/*////////////////// Nav ////////////////////////////////////////////////////*/

nav{
    width: 600px;
    height: 600px;
    position: fixed;
    right: 0px;
    top: 0;

}

nav ul{
    display: flex;
    list-style: none;
    z-index: 1;
    nav-index: 1;
    background-color: rgba(31, 40, 47, 0.5);
    backdrop-filter: blur(5px);
    
}

nav ul li{
    margin: 20px;
    
}

nav a{
    text-decoration: none;
    color:  rgb(197, 218, 245);
}

nav form{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    background: rgba(255, 255, 255, 0.8);
    padding-top: 50px;
    align-items: center;
    position: absolute;
    right: -600px;
    backdrop-filter: blur(5px);
    z-index: 1;
    nav-index: 1;
    border-radius: 0 0 0 20px;
    transition: 1s;
}

nav form #input1{
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: rgb(120, 174, 245);
    color: white;
    width: 150px;
    border-radius: 20px;
    border: none;
    padding: 5px 10px;
    position: fixed;
    top: 40%;
    left: 100px;
}

nav form #input2{
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: rgb(120, 174, 245);
    color: white;
    width: 150px;
    border-radius: 20px;
    border: none;
    padding: 5px 10px;
    position: fixed;
    top: 40%;
    right: 100px;
}

nav .visible{
    transform: translateX(-600px);
    transition: 1s;
}

#boutonEnregistrement{
    border: none;
    background: transparent;
    color: rgb(120, 174, 245);
}

#formulaireConnexion h2{
    text-transform: uppercase;
    color:  rgb(120, 174, 245);
    font-size: 50px;
    font-family: 'Zen Dots', cursive;
}

#formulaireConnexion h3{
    color:  rgb(120, 174, 245);
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

#formulaireConnexion p{
    position: fixed;
    bottom: 50px;
}

#boutonTemporaire{
    background-color: rgb(120, 174, 245);
    border-radius: 20px;
    border: none;
    color: rgb(197, 218, 245);
    position: fixed;
    top: 60%;
    width: 200px;
}

/*///////////////////// Home Page ///////////////////////////////////////////////*/

#homePage{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 20px;
    background-color: rgba(26, 22, 246, 0.322);
}

#leftSideBar{
    padding: 15% 0px 10% 20px;
}

#leftSideBar #iframeDiscord{
    height: 500px;
    box-shadow: 20px 20px 5px rgba(0,0,0,0.5);
}





#centerBar{
    text-align: center;
    padding: 80px 0 0 0;
}



#centerBar h1{
    text-transform: uppercase;
    color:  rgb(197, 218, 245);
    font-size: 150px;
    font-family: 'Zen Dots', cursive;
}

#centerBar h3{
    color:  rgb(197, 218, 245);
    font-size: 30px;
    margin-bottom: 50px;
}

#centerBar button{
    background-color: transparent;
    padding: 10px 20px;
    margin: 20px;
    border: solid rgb(197, 218, 245) 1px;
    color:  rgb(197, 218, 245);
    width: 30vh;
    transition-duration: 800ms;
    border-radius: 10px;
}

#centerBar button:hover{
    border: solid white 2px;
    background-color: rgb(197, 218, 245);
    color: rgb(26, 22, 246);
}

/*///////////////// Media ////////////////////*/

#media{
    width: 100%;
    height: 600px;
    background-image: url("Images/wallpaper/arma01.jpg");
    background-size: 100% 600px;
    background-repeat: no-repeat;
    margin: 80px auto;
    z-index: -2;
    position: relative;
}

#containerMedia{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    z-index: -2;
    text-align: center;
}

#containerMedia h1{
    position: relative;
    top: 30%;
    font-size: 50px;
    color: rgb(197, 218, 245);
    text-shadow: 1px 0 10px black;
    text-transform: uppercase;
    font-family: 'Zen Dots', cursive;
}

#containerMedia h3{
    position: relative;
    top: 40%;
    font-size: 50px;
    color: rgb(197, 218, 245);
    text-shadow: 1px 0 10px black;
    font-family: 'Dancing Script', cursive;
}

/*//////////////// Mise a jour ///////////////*/

#miseAJour{
    margin: 0 auto 80px auto; 
    width: 60%;
    height: 500px;
    border-radius: 30px;
    padding: 0 0;
    display: flex;
}

.card{
    margin: 20px;
    width: 30%;
    height: 50vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    border:2px rgba(255, 255, 255, 0.5) solid ;
    border-top: 2px rgba(255, 255, 255, 0.5) solid;
    border-left: 2px rgba(255, 255, 255, 0.5) solid;
    box-shadow: 20px 20px 5px rgba(0,0,0,0.5);
    border-radius: 20px;
    text-align: center;
    padding-top: 100px;
    color: rgb(197, 218, 245);
    backdrop-filter: blur(5px);
    z-index: -1;
}

.card h2{
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: solid rgb(197, 218, 245) 3px ;

}

.card p{
    padding: 10px;
}



/*//////////////// Footer ///////////////////*/

footer{
    height: 30px;
    width: 100%;
    background-color: rgba(26, 22, 246, 0.322);
    margin-top: 20px;
    padding: 10px;
    display: flex;
    padding: 0 30%;
    align-items: center;
}

footer h5{
    margin: 0px 10px;
    color:rgb(197, 218, 245);
}




