
/*//////////////// Général //////////////////////////////////////////////////*/

*{
    margin: 0;
}

body{
    background-color: rgb(31, 40, 47);
    overflow-x: hidden;
    height: 100vh;
    padding: 0;
}

/*////////////////// Nav ////////////////////////////////////////////////////*/

nav{
    width: 100%;
    height: 80px;
    background-color: rgba(26, 22, 246, 0.322);
    position: fixed;
    top: 0px;
    backdrop-filter: blur(5px);

}

nav ul{
    display: flex;
    float: right;
    list-style: none;
    position: fixed;
    top: 20px;
    right: 15px;
}

nav ul li{
    margin: 20px;
}

nav a{
    text-decoration: none;
    color:  rgb(197, 218, 245);
}

nav h3{
    margin: 20px 0 0 10px;
    position: fixed;
    top: 10px;
    left: 15px;
    text-transform: uppercase;
    color:  rgb(197, 218, 245);
    font-size: 50px;
    font-family: 'Zen Dots', cursive;
}
/*////////////////// Reglement ////////////////////*/

#reglement{
    margin: 10% 30%;
    color: rgb(197, 218, 245);
}

#reglement p{
    margin-bottom: 20px;
}
/*//////////////// Footer ///////////////////*/

footer{
    height: 20px;
    width: 100%;
    background-color: rgba(26, 22, 246, 0.322);
    margin-top: 20px;
    padding: 10px;
    display: flex;
    padding-left: 65%;
}

footer h5{
    margin: 0px 10px;
    color:rgb(197, 218, 245);
}